.main-container {
    background-color: pink;
    width: 100vw;
    display: flex;
    flex-direction: column;
    margin: auto;

}

.navbar-div {
    background-color: yellow;
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
}

.navbar-div h2 {
    margin: 0px;
}

.navbar-div a {
    text-decoration: none;
}

.link-div {
    display: flex;
    gap: 20px;
    align-items: center;
}

.link-div a {
    text-decoration: none;
    color: #f1356d;
    font-size: 20px;
}

.home-div {
    background-color: yellow;
}

body {
    background-color: blue;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

.content-div {
    background-color: purple;
    padding: 20px;
    width: 50%;
    margin: auto;
}

p {
    margin: 0px;
    font-size: 16px;
}

h2 {
    margin: 0px;
    color: #f1356d;
}

.blog-div {
    background-color: white;
}

.blog-div h2 {
    color: red;
}

.blog-content {
    background-color: white;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.blog-content:hover {
    box-shadow: 1px 5px 10px 1px black;
}


.blog-container {
    background-color: purple;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.blog-container a {
    text-decoration: none;
}

.add-blog-container form {
    background-color: pink;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.add-blog-container .row {
    background-color: yellow;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.row label {
    color: #f1356d;
    font-size: 20px;
}

.row input {
    height: 30px;
    border: 1px solid #4d4d4d;
    border-radius: 5px;
}

.row select {
    height: 40px;
    border: 1px solid #4d4d4d;
    background-color: #ffffff;
    border-radius: 5px;
    cursor: pointer;
}

button {
    margin: auto;
    background-color: #f1356d;
    border: none;
    color: #ffffff;
    padding: 10px 5px;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
}

.add-blog-container {
    background-color: blue;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.not-found-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blog-detail-container {
    display: flex;
    flex-direction: column;
}

.blog-detail-container button {
    min-width: 80px;
    margin-right: 0;
}